html, body {
  margin: 0;
  padding: 0;
}

.Page1 {  
  background-image: url(Images/IMG_4064.jpeg);
  background-size: cover;
  position: relative;
  height: 100vh;
}

.Title  {
  color: white;
  font-family: 'AltaRegular';
  font-size: 45px;
  top: 1%;
  left: 5%;
  position: fixed;
  z-index: 100;

}

.UnderTitle {
  color: white;
  font-family: 'AltaLight';
  font-size: 25px;
  top: 7.5%;
  left: 8.2%;
  position: fixed;
  z-index: 100;

}

.Home {
  color: white;
  font-family: 'AltaLight';
  font-size: 25px;
  Top: 4%;
  Left: 71%;
  position: fixed;
  z-index: 100;

}

.About { 
  color: white;
  font-family: 'AltaLight';
  font-size: 25px;
  Top: 4%;
  Left: 76.5%;
  position: fixed;
  z-index: 100;
}

.gallerylink {
  color: white;
  font-family: 'AltaLight';
  font-size: 25px;
  Top: 4%;
  Left: 83%;
  position: fixed;
  z-index: 100;
} 

.Contact {
  color: white;
  font-family: 'AltaLight';
  font-size: 25px;
  Top: 4%;
  Left: 90.5%;
  position: fixed;
  z-index: 100;
}

.Banner  {
  top: 80%;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 20vh;
  z-index: 1;
  

}

.BannerText {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'AltaRegular';
  z-index: 1;
}

.BannerText2 {
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 20px;
  font-family: 'Altalight';
  z-index: 1;
}

.Page2 {
  background-color: white;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.card01 .card02 .card03 .card01Text .card02Text .card03Text {
  z-index: 1;
}

.card01 {
  position: absolute;
  width: 350px;
  height: 575px;
  top: 113%;
  left: 20%;
  transform: translateX(-50%);
  background-image: url(Images/268DB924-E962-4B9D-8733-30AD6CE435BC_1_105_c.jpeg);
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.3s;
}

.card01:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.card01Content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card01Text {
  letter-spacing: 3px;
  font-size: 30px;
  font-family: 'AltaLight';
  position: absolute;
  top: 192%;
  left: 20%;
  transform: translateX(-50%);
  
}

.card02 {
  position: absolute;
  width: 350px;
  height: 575px;
  top: 113%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(Images/IMG_5140.jpeg);
  background-position: 30%;
  background-size: cover;
}

.card02Text {
  font-family: 'Altalight';
  position: absolute;
  letter-spacing: 3px;
  font-size: 30px;
  top: 192%;
  left: 50%;
  transform: translateX(-50%);

}


.card03 {
  position: absolute;
  width: 350px;
  height: 575px;
  top: 113%;
  left: 80%;
  transform: translateX(-50%);
  background-image: url(Images/IMG_5048.jpeg);
  background-position: 50%;
  background-size: cover;

}

.card03Text {
  letter-spacing: 3px;
  font-size: 30px;
  font-family: 'AltaLight';
  position: absolute;
  top: 192%;
  left: 80%;
  transform: translateX(-50%);
}

.Page3 {
  background-color: white;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

@font-face {
  font-family: 'AltaRegular';
  src: url(Fonts/Alta_regular.otf) 
}

@font-face {
  font-family: 'Altalight';
  src: url(Fonts/Alta_light.otf); 

}

@font-face {
  font-family: 'AltaCaption';
  src: url(Fonts/Alta_caption.otf);
}

.Title,
.UnderTitle,
.Home,
.About,
.gallerylink,
.Contact {
  transition: color 0.3s; /* Add a smooth color transition */
}

.light-bg .Title,
.light-bg .UnderTitle,
.light-bg .Home,
.light-bg .About,
.light-bg .gallerylink,
.light-bg .Contact {
  color: white; /* Set the title color for light backgrounds */
}

.dark-bg .Title,
.dark-bg .UnderTitle,
.dark-bg .Home,
.dark-bg .About,
.dark-bg .gallerylink,
.dark-bg .Contact {
  color: black; /* Set the title color for dark backgrounds */
}

