html, body {
  margin: 0;
  padding: 0;
}


body {
  background-image: url(Images/MainBackground.jpg);
  background-size: cover;
  position: relative;
}

.container {  
  height: 800px;
  border: 1px solid orange;
}

.banner {
  color: white;
  font-family: 'TitleFont';
  font-size: 30px;
  top: 10%;
  left: 5%;
  position: absolute;
  /*transform: translate(-50%, -50%);*/

}
.Home {
  color: white;
  font-family: 'TitleFont';
  font-size: 30px;
  Top: 10%;
  Left: 64%;
  position: absolute;

}

.About { 
  color: white;
  font-family: 'TitleFont';
  font-size: 30px;
  Top: 10%;
  Left: 71%;
  position: absolute;
}

.Gallery {
  color: white;
  font-family: 'TitleFont';
  font-size: 30px;
  Top: 10%;
  Left: 78%;
  position: absolute;
}

.Contact {
  color: white;
  font-family: 'TitleFont';
  font-size: 30px;
  Top: 10%;
  Left: 86%;
  position: absolute;
}


@font-face {
  font-family: 'TitleFont';
  src: url('Fonts/Fontspring-DEMO-theseasons-reg.otf') format('truetype');
}

  

  
  




