html, body {
  margin: 0;
  padding: 0;
}

.Page1 {  
  background-image: url(Images/MainBackground.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  border: 1px solid orange;
}

.Title  {
  color: white;
  font-family: 'AltaRegular';
  font-size: 45px;
  top: 8%;
  left: 5%;
  position: absolute;

}

.UnderTitle {
  color: white;
  font-family: 'AltaLight';
  font-size: 18px;
  top: 15%;
  left: 9.5%;
  position: absolute;

}
.Home {
  color: white;
  font-family: 'AltaLight';
  font-size: 18px;
  Top: 10%;
  Left: 72%;
  position: absolute;

}

.About { 
  color: white;
  font-family: 'AltaLight';
  font-size: 18px;
  Top: 10%;
  Left: 78%;
  position: absolute;
}

.Gallery {
  color: white;
  font-family: 'AltaLight';
  font-size: 18px;
  Top: 10%;
  Left: 84%;
  position: absolute;
} 

.Contact {
  color: white;
  font-family: 'AltaLight';
  font-size: 18px;
  Top: 10%;
  Left: 90%;
  position: absolute;
}

.Banner  {
  top: 80%;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 150px;
  border: 1px solid red;

}

.BannerText {
  padding: 25px;
  text-align: center;
  font-size: 40px;
  font-family: 'AltaRegular';
}

.BannerText2 {
  text-align: center;
  font-size: 15px;
  font-family: 'Altalight';
}

.Page2 {
  border: 1px solid red;
  height: 100vh;
}


@font-face {
  font-family: 'AltaRegular';
  src: url(Fonts/Alta_regular.otf) 
}

@font-face {
  font-family: 'Altalight';
  src: url(Fonts/Alta_light.otf); 

}

@font-face {
  font-family: 'AltaCaption';
  src: url(Fonts/Alta_caption.otf);
}



  

  
  




